/* ROBOT.GIF from Giphy - https://giphy.com/gifs/robot-cinema-4d-eyedesyn-3o7abtn7DuREEpsyWY */

html {
  box-sizing: border-box;
}

body{
  margin: 0;
  background: #45badd;
}
.container{
  width: 100vw;
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  background-image: url('./robot.gif');
  background-position: center left;
  background-repeat: no-repeat;
}

#btn{
  width: 200px;
  height: 50px;
  font-size: 20px;
  font-family: 'Courier New', Courier, monospace;
  color: white;
  background-color: #ff3482;
  outline: none;
  border: none;
  border-radius: 7px;
  box-shadow: 2px 2px 20px 10px rgba(0, 0, 0, 0.4);
}

#btn:hover{
  filter: brightness(95%);
}

#btn:active{
  transform: scale(98%);
}

#btn:disabled{
  filter: brightness(50%);
}

@media screen and (max-width: 1000px) {
  .container{
  background-size: cover;
  background-position: center center;
 }
 #btn{
  box-shadow: 4px 4px 20px 10px rgba(0, 0, 0, 0.7);
 }
}